{% extends "layout.html" %}
{% block content %}
    <h1>Projects Page</h1>

    <!-- Side Bar -->
    <div class="col-md-4">
        <div class="content-section">
          <h3>Some Filters... </h3>
            <p class='text-muted'>project search filters box </p>
            
          <!-- <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p> -->
        </div>
      </div>
{% endblock content %}